
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">



    <script defer src="/main.js"></script>


    <title>감정관리</title>


</head>
<body>

<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/employee/{department}/{employeeId}/home(department=${dept},employeeId=${employeeId})}" >Time Treasure</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/signup}">회원가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()"  th:href="@{/employee/{department}/{employeeId}/manage(employeeId=${employeeId},department=${dept})}" th:text="${work}">work</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()"  th:href="@{/employee/{department}/{employeeId}/all(employeeId=${employeeId},department=${dept})}">직원현황</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="inner"  style="display:flex ;height:100%;  justify-content: center">

    <div class="card h-100" style="width:50%; margin: auto ;margin-top: 20px">
        <img th:src="${artifact.imgUrl}" class="card-img-top" alt="유물이미지">
        <div class="card-body">
            <h5 class="card-title" th:text="${artifact.name}">유물이름</h5>
            <p class="card-text" th:text="'유물발굴일(여행시간):'+${artifact.discoveryDate}">유물발굴일(여행시간기준) </p>

            <p class="card-text" th:text="'유물발굴일(현재시간):'+${artifact.createdDate}"></p>


            <p  class="card-text" th:if="${artifact.travel}" th:text="${artifact.travel.id}"></p>
            <p th:if="${artifact.customer}" th:text="${artifact.customer.id}"></p>


            <form method="post" style="margin:auto; margin-bottom: 10px" >
                <p>감정할 가격</p>
                <input type="number" name="price">
                <p>희귀도</p>
                <select id="inputState2" class="form-select"  name="rarity">
                    <option value="1" selected>1등급</option>
                    <option value="2">2등급</option>
                    <option value="3">3등급</option>
                    <option value="4">4등급</option>
                    <option value="5">5등급</option>

                </select>
                <button  type="submit" class="btn btn-primary" >가격 제출</button>
            </form>

        </div>
    </div>


</div>

</body>
</html>