<!DOCTYPE html>
<html
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">



    <script defer src="/main.js"></script>


    <title>예약</title>


</head>
<body>

<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/employee/{department}/{employeeId}/home(department=${dept},employeeId=${employeeId})}" >Time Treasure</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/signup}">회원가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()"  th:href="@{/employee/{department}/{employeeId}/manage(department=${dept},employeeId=${employeeId})}" th:text="${work}">work</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()"  th:href="@{/employee/{department}/{employeeId}/all(department=${dept},employeeId=${employeeId})}">직원현황</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<div class="inner" style="position:relative  ;margin-top: 20px">

    <form class="row g-3"  th:object="${timeMachine}" method="post">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label" >타임머신 아이디</label>
            <input disabled  th:value="${timeMachine.id}" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">예약 가능 날짜(시작)</label>
            <select id="inputState2" class="form-select"  name="startDate">
                <option th:text="${date}" selected></option>
                <option th:text="${date.plusMonths(1)}"></option>
                <option th:text="${date.plusMonths(2)}"></option>
                <option th:text="${date.plusMonths(3)}"></option>
                <option th:text="${date.plusMonths(4)}"></option>

            </select>
        </div>

        <div class="col-md-4">
            <label for="inputState" class="form-label">타임머신 사용기간(일)</label>
            <div>
                <select id="inputState23" class="form-select" name="duration">
                    <option th:text="10" selected></option>
                    <option th:text="20"></option>
                    <option th:text="30"></option>
                    <option th:text="50"></option>
                    <option th:text="100"></option>

                </select>

            </div>
        </div>



        <div class="col-md-4">
            <label for="inputState" class="form-label">목적</label>
            <select id="inputState3" class="form-select" name="purpose">
                <option selected>유물채집(관광)</option>
                <option>휴가</option>
                <option>코스개발</option>

            </select>
        </div>

        <div class="col-md-4">
            <label for="inputState" class="form-label">목적지</label>
            <select id="inputState" class="form-select" name="destination">
                <option selected>아시아</option>
                <option>아프리카</option>
                <option >북아메리카</option>
                <option>남아메리카</option>
                <option>유럽</option>
                <option>오세아니아</option>

            </select>
        </div>



        <div class="col-12">
            <button type="submit" class="btn btn-primary">예약 신청</button>
        </div>
    </form>

</div>

</body>
</html>