<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">

        <link rel="stylesheet" href="/main.css">



        <script defer src="main.js"></script>





    </head>
<body>



<header>
    <div class="inner" style="display:flex; align-items:center">



        <div style="display:flex ; margin:0 auto ; " >
            <a href="customer/home" style="text-align:center; line-height: 100px; width:120px; height:100px; padding:50px; margin:30px ; margin-top:200px; background-color:lightblue; border-radius:4px" >
                고객님
            </a>
            <a href="employee/travel/home" style="text-align:center; line-height: 100px; width:120px; height:100px; padding:50px; margin:30px ; margin-top:200px; background-color:lightblue; border-radius:4px" >
                시간여행부서
            </a>
            <a href="employee/reserve/home" style="text-align:center; line-height: 50px; width:120px; height:100px; padding:50px; margin:30px ; margin-top:200px; background-color:lightblue; border-radius:4px" >
                타임머신<br>예약관리부서
            </a>
            <a href="employee/sales/home" style="text-align:center; line-height: 100px; width:120px; height:100px; padding:50px; margin:30px ; margin-top:200px; background-color:lightblue; border-radius:4px" >
                판매관리부서
            </a>
            <a href="employee/appraisal/home" style="text-align:center; line-height: 100px; width:120px; height:100px; padding:50px; margin:30px ; margin-top:200px; background-color:lightblue; border-radius:4px" >
                감정부서
            </a>
        </div>




    </div>
</header>

</body>
</html>